.rooms-image {
    width: 100%;
    height: 50vh;
}

.item__overlay {
    background: #ffc60032;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.2s;
    transform: translateY(100%);
}

.item__overlay button {
    background: none;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 15px;
    top: -10%;
}

.colorWhite {
    background: rgba(238, 237, 206, 0.66);
    text-shadow: 2px 4px 3px rgba(255, 203, 22, 0.64);
    color: white;
}

.colorWhite button {
    border: 2px solid white;
    outline: 2px solid #f5ea2d;
    color: white;
    text-shadow: 2px 4px 3px rgba(255, 203, 22, 0.64);
}

.grid-item:hover .item__overlay {
    transform: translateY(0);
}

.grid-rooms {
    margin-top: 119px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-gap: 10px;
    width: 100%;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.grid-item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.grid-item img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}